@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script:wght@700&family=Fjalla+One&display=swap');

body {
  flex-direction: column;
  background-color: azure;
  color: black;
  font-size: 16px;
  /* overflow-y: hidden; */
}

.MuiToolbar-root {
  background-color: azure;
  color: black;
  justify-content: space-between;
}
.MuiButton-root {
  font-family: 'Bruno Ace SC', cursive;
  font-size: 2rem;
}

.MuiBox-root {
  align-items: center;
  height: 10vh;
}

.MuiPaper-root {
  height: 10vh;
  justify-items: center;
}
.content {
  height: 90vh;
  display: flex;
  flex-direction: column;
}