@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script:wght@700&family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.details Button:hover {
  background-color: #48dbfb;
  background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);
}

