@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.details Button:hover {
  background-color: #48dbfb;
  background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);
}
._1yCVn,
._2qp0Z {
  z-index: 99;
}

@media screen and (max-width: 576px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
